 <div class="container">
   <input type='hidden' id="personName" type="text" placeholder="Handle" name="handle" value="{{person.name}}" />
   <input type='hidden' id="personId" type="text" placeholder="Handle" name="handle" value="{{person._id}}" />
   <input type='hidden' id="toName" type="text" placeholder="Handle" name="handle" value="{{toName}}" />
   <input type='hidden' id="toId" type="text" placeholder="Handle" name="handle" value="{{toId}}" />
    <input type='hidden' id="personImageUrl" type="text" placeholder="Handle" name="handle" value="{{person.imageUrl}}" />
    <div class="container" >
    <h2 class="center orange-text">{{toName}}</h2>
    <ul class="collection" id="chat">
        {{#each msgs}}
    <li class="collection-item avatar #fffde7 yellow lighten-5">
        <i class="material-icons circle"> 
             <img src="{{personImageUrl}}" width="40px" height="40px" >
        </i>
       {{#ifCond type '==' 'image'}}
        <span class="title" style="display: block;"><strong>{{personName}}</strong> </span>
        <img src="{{message}}" width="500px" height="500px" >
        {{/ifCond}}
        {{#ifCond type '!=' 'image'}}
         <span class="title"><strong>{{personName}}</strong></span>
        <p class="black-text">{{message}}</p>
        {{/ifCond}}
        <a  class="secondary-content">
          <span class="orange-text">{{Date}}</span>
        </a>
    </li>
      
        {{/each}}

      {{!-- <li class="collection-item">Mario</li> --}}
      
    </ul>
   
    <div class="row orange-text" >
      <div class="input-field col s12 orange-text">
          <i class="material-icons prefix orange-text" id="send">send</i>
        {{!-- <textarea id="textarea1" class="materialize-textarea orange-belt"></textarea>
        <label for="textarea1" class="orange-text">Message :</label> --}}
         <input id="textarea1" type="text" class="orange-belt" name="name">
         <label for="textarea1"  class="orange-text"> Message :</label>
      </div>
    </div>
      <div class="row orange-text">
    <form class="col s12" action="/send-image" method="POST" enctype="multipart/form-data" id="myForm">
    <input type='hidden'  type="text" placeholder="Handle" name="personName" value="{{person.name}}" />
    <input type='hidden'  type="text" placeholder="Handle" name="personImageUrl" value="{{person.imageUrl}}" />
   <input type='hidden'  type="text" placeholder="Handle" name="personId" value="{{person._id}}" />
   <input type='hidden'  type="text" placeholder="Handle" name="toName" value="{{toName}}" />
   <input type='hidden'  type="text" placeholder="Handle" name="toId" value="{{toId}}" />
          <div class="file-field input-field col s11 ">
                      <div class="btn orange">
                          <span>Send Image</span>
                          <input type="file" name="profile" id="send-image">
                      </div>
                      <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" id="send-image-value">
                      </div>
          </div>
           <div class="input-field center col s1">
             <button class="btn center orange "  name="action" id="btn-send-image" >Submit
                <i class="material-icons right">touch_app</i>
              </button>
         </div>
        </form>
    </div>
  </div>

  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="/private.js"></script>
  <script>
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>
   
   
  <!-- Compiled and minified JavaScript -->
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="/chat.js">    
  </script> --}}